.bold   { font-weight: 600; }
.criteria, .orange { color:#ffab40; }
.level,    .red    { color:#980000; }
.point,      .blue   { color:#6d9eeb; }
/* .degree,    .green  { color:#38761d; } */
/* .level,     .gray   { color:#999999; } */
