
<!--
    bold   { font-weight: 600; }

    condition/orange    #ffab40
    action/red      #980000
    task/blue       #6d9eeb
    degree/green    #38761d
    level/gray      #999999
-->

<div class="ck-content">
    <p>
        A rubric is a tool used to assess student work. Rubrics increase 
        objectivity and reduce subjectivity, and they improve students’ 
        ability to meet expectations.
    </p>
    <p>
        A rubric is made up of a set of 
        [<span class="criteria">criteria</span>] and each 
        <span class="criteria">criteria</span> has at 
        least three completion levels with detailed a description of  what each 
        criterion would look like completed at the associated 
        <span class="level">level</span>. Lastly, 
        each level should have an assigned <span class="point">point</span> value. 

    </p>


    <h4> <span class="criteria">Criteria</span></h4>
    <p>
        A rubric is made up of multiple criteria, usually 3 or more but at times as 
        many as 10-15 for long and involved assignments. Criteria identify the feature 
        or dimension which is to be measured. To determine what your 
        <span class="criteria">criteria</span> should be:

        <ol>
            <li>Identify the list of all <span class="criteria">criteria</span>, representing the features or dimensions associated with the student work. </li>
            <li>Write <span class="criteria">criteria</span> descriptions and keep them brief and understandable for students to follow.</li>
            <li>Put one <span class="criteria">criterion</span> in each cell in the leftmost column of the rubric. </li>
            <li>Add more rows as needed, but reduce the list by removing or combining similar criteria.</li>

        </ol>
    </p>



    <h4><span class="level">Levels</span></h4>
    <p>
        <span class="level">Levels</span> define what different levels at which the assignment meets the 
        expectations set for each criterion. Typically there are 3-5 levels for 
        each criterion. Some dichotomous criteria (e.g., if an answer is right 
        or wrong) might be assigned just 2 levels. To create levels:


        <ol>
            <li>Modify the number of levels by adding columns to your rubric. </li>
            <li>Then label each level (e.g., low/mid/high, poor/good/excellent, or does not meet expectations/meets expectations/exceeds expectations).</li>
            <li>Write a detailed description of what performance would look like at each level. Make sure they are discrete enough to show real differences.</li>
        </ol>
    </p>

    <h4><span class="point">Point</span> Value</h4>
    <p>
        After describing what each criterion would look like at each level, 
        assign a <span class="point">point</span> value to each column or cell. Often educators assign a 
        value to each column, but it is also possible to weight criteria 
        differently by assigning different values to each cell.
        
    </p>

    

    


    <h4>Examples</h4>
    <p>
        add examples here...
    </p>

</div>
