
<!--
    bold   { font-weight: 600; }

    condition/orange    #ffab40
    action/red      #980000
    task/blue       #6d9eeb
    degree/green    #38761d
    level/gray      #999999
-->

<div class="ck-content">
    <p>
        A rubric is a tool used to assess student work. Rubrics increase 
        objectivity and reduce subjectivity, and they improve students’ 
        ability to meet expectations.
    </p>
    <p>
        A rubric is made up of a set of 
        [<span class="criteria">criteria</span>] and each 
        <span class="criteria">criteria</span> has at 
        least three completion levels with detailed a description of  what each 
        criterion would look like completed at the associated 
        <span class="level">level</span>. Lastly, 
        each level should have an assigned <span class="point">point</span> value. 

    </p>


    <h4> <span class="criteria">Criteria</span></h4>
    <p>
        A rubric is made up of multiple criteria, usually 3 or more but at times as 
        many as 10-15 for long and involved assignments. Criteria identify the feature 
        or dimension which is to be measured. To determine what your 
        <span class="criteria">criteria</span> should be:

        <ol>
            <li>Identify the list of all <span class="criteria">criteria</span>, representing the features or dimensions associated with the student work. </li>
            <li>Write <span class="criteria">criteria</span> descriptions and keep them brief and understandable for students to follow.</li>
            <li>Put one <span class="criteria">criterion</span> in each cell in the leftmost column of the rubric. </li>
            <li>Add more rows as needed, but reduce the list by removing or combining similar criteria.</li>

        </ol>
    </p>



    <h4><span class="level">Levels</span></h4>
    <p>
        <span class="level">Levels</span> define what different levels at which the assignment meets the 
        expectations set for each criterion. Typically there are 3-5 levels for 
        each criterion. Some dichotomous criteria (e.g., if an answer is right 
        or wrong) might be assigned just 2 levels. To create levels:


        <ol>
            <li>Modify the number of levels by adding columns to your rubric. </li>
            <li>Then label each level (e.g., low/mid/high, poor/good/excellent, or does not meet expectations/meets expectations/exceeds expectations).</li>
            <li>Write a detailed description of what performance would look like at each level. Make sure they are discrete enough to show real differences.</li>
        </ol>
    </p>

    <h4><span class="point">Point</span> Value</h4>
    <p>
        After describing what each criterion would look like at each level, 
        assign a <span class="point">point</span> value to each column or cell. Often educators assign a 
        value to each column, but it is also possible to weight criteria 
        differently by assigning different values to each cell.
        
    </p>

    

    


    <h4>Examples</h4>
    <h5>Example #1</h5>
    <div class="ck-content">
    <figure class="table">
        <table>
            <tbody>
                <tr>
                    <td>Criteria</td>
                    <td><span class="level">Level #1</span> Does Not Meet Expectations <span class="point">1 point</span></td>
                    <td><span class="level">Level #2</span> Meets Expectations <span class="point">2 points</span></td>
                    <td><span class="level">Level #3</span> Exceeds Expectations <span class="point">3 points</span></td>
                </tr>
                <tr>
                    <td>Multiple solutions</td>
                    <td>
                        <p>
                            Only focuses on one solution to a problem; no trials performed
                        </p>                        
                    </td>
                    <td>
                        <p>
                            Can develop and compare multiple solutions, but does not identify the best option or recommend a specific design choice
                        </p>
                    </td>
                    <td>
                        <p>
                            Develops several potential solutions and recommends a design
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>Procedure and documentation</td>
                    <td>
                        <p>
                            Design is done incompletely without describing proper procedures.
                        </p>                        
                    </td>
                    <td>
                        <p>
                            Design is done, but procedures are not documented or referenced.
                        <p>
                    </td>
                    <td>
                        <p>
                            Supports design with detailed procedure and documentation
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            Constraints
                        </p>                        
                    </td>
                    <td>
                        <p>
                            No consideration of economics, safety, or environment
                        </p>                        
                    </td>
                    <td>
                        <p>
                            Includes only minor consideration of economic, safety, or environmental constraints
                        </p>
                    </td>
                    <td>
                        <p>
                            Recommend a solution that incorporates economic, safety, environmental or other realistic constraints
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            Practicality
                        </p>                        
                    </td>
                    <td>
                        <p>
                            Design is incomplete, no recommendation is given.
                        </p>                        
                    </td>
                    <td>
                        <p>
                            Design is complete, but does not check its practicality
                        </p>
                    </td>
                    <td>
                        <p>
                            Recognizes practical significance of design outcome/answer.
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </figure>
    </div>
    <h5>Example #2</h5>

    <div class="ck-content">
    <figure class="table">
        <table>
            <tbody>
                <tr>
                    <td>Criteria</td>
                    <td><span class="level">Level #1</span> No Evidence of work <span class="point">0 points</span></td>
                    <td><span class="level">Level #2</span> Poor <span class="point">1 points</span></td>
                    <td><span class="level">Level #3</span> Good <span class="point">2 points</span></td>
                    <td><span class="level">Level #4</span> Excellent <span class="point">3 points</span></td>
                </tr>
                <tr>
                    <td>
                        <p>
                            Understanding of basis of forecasts and their applications
                        </p>                        
                    </td>
                    <td>
                        <p></p>                        
                    </td>
                    <td>
                        <p>
                            Student can define overall purpose of hydrologic forecasts, but doesn’t address forecast scale aspects, and doesn’t explain the techniques, data and models that form the basis of forecasts
                        </p>
                    </td>
                    <td>
                        <p>
                            Student can define overall purpose of hydrologic forecasts, addresses forecast scale aspects, and explain the techniques, data and models that form the basis of forecasts
                        </p>
                    </td>
                    <td>
                        <p>
                            Student can define overall purpose of forecasts, addresses scale aspects, explain techniques, data and models that form basis of forecasts; discuss different types of forecasts and their applications according to scales and types of data/models used to issue forecasts
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            Functionality of the flood warning script
                        </p>
                    </td>
                    <td>
                        <p></p>                        
                    </td>
                    <td>
                        <p>
                            The program submitted doesn’t function properly and doesn’t produce expected forecasts and warnings
                        </p>                        
                    </td>
                    <td>
                        <p>
                            The program submitted functions properly and produces expected results for the assigned stream. There is discussion / interpretation of how presently forecasted flows compare to historic flows for the assigned stream.
                        </p>
                    </td>
                    <td>
                        <p>
                            The program functions properly and produces expected results; is designed to work for any stream segment and can be transferred to other basins. There is thorough discussion and interpretation of how presently forecasted flows compare to historic flows for three or more example streams.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            Analysis of forecast outputs and sources of errors
                        </p>
                    </td>
                    <td>
                        <p></p>                        
                    </td>
                    <td>
                        <p>
                            Incorrect calculations of forecast statistics with no discussions of accuracy and sources of errors
                        </p>                        
                    </td>
                    <td>
                        <p>
                            Correct calculations of forecast statistics, different sources of errors are identified and quantified using proper statistical measures, with basic discussions of model accuracy
                        </p>
                    </td>
                    <td>
                        <p>
                            Correct calculations of model statistics with creative graphical representation; interprets sources of errors thoroughly; discusses implications of forecast errors for model effectiveness and usability in a variety of contexts; discusses reasons of uncertainties and identifies ways to reduce them
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </figure>
    <div>
</div>
