<h2>Rubric</h2>
<figure class="table">
    <table>
        <thead>
            <tr>
                <th>Associated Learning Objectives</th>
                <th>Criteria</th>
                <th>Level #1 (Does Not Meet Expectations)&nbsp;</th>
                <th>Level #2 (Meets Expectations)</th>
                <th>Level #3 (Exceeds Expectations)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Meets Learning Objective #1</td>
                <td>Criterion #1</td>
                <td>
                    <p>A detailed description of what criterion #1 would look like completed at level #1&nbsp;</p>
                    <p><br>1 point&nbsp;</p>
                </td>
                <td>
                    <p>A detailed description of what criterion #1 would look like completed at level #2&nbsp;</p>
                    <p><br>3 points &nbsp;</p>
                </td>
                <td>
                    <p>A detailed description of what criterion #1 would look like completed at level #3&nbsp;</p>
                    <p><br>5 points &nbsp;</p>
                </td>
            </tr>
            <tr>
                <td>Meets Learning Objective #2</td>
                <td>Criterion #2</td>
                <td>
                    <p>A detailed description of what criterion #2 would look like completed at level #1</p>
                    <p>&nbsp;<br>1 point&nbsp;</p>
                </td>
                <td>
                    <p>A detailed description of what criterion #2 would look like completed at level #2&nbsp;</p>
                    <p><br>2 points&nbsp;</p>
                </td>
                <td>
                    <p>A detailed description of what criterion #2 would look like completed at level #3&nbsp;</p>
                    <p><br>3 points &nbsp;</p>
                </td>
            </tr>
            <tr>
                <td>Meets Learning Objective #3</td>
                <td>
                    <p>Criterion #3</p>
                    <p>(sample dichotomous criterion)</p>
                </td>
                <td>
                    <p>Assignment does not answer criterion #3&nbsp;</p>
                    <p><br>1 point&nbsp;</p>
                </td>
                <td>&nbsp;</td>
                <td>
                    <p>Assignment answers criterion #3.&nbsp;</p>
                    <p><br>2 points &nbsp;</p>
                </td>
            </tr>
        </tbody>
    </table>
</figure>




